{{/* This is the per-package default template. The input is the mod.Package structure */}}

<div class="package">

<h1>Package {{.Name}}</h1>
<p> path {{.Path}}
<p> import {{.ImportPath}}

{{ $p := . }}
{{ .CommentHtml }}

<h2 id="Index">Index</h2>
{{if .Constants }}<p><a href="#Constants">Constants</a>{{end}}
{{if .Variables}}<p><a href="#Variables">Variables</a>{{end}}
{{if .Functions}}<p><a href="#Functions">Functions</a>{{end}}
{{if .Types}}<p><a href="#Types">Types</a>{{end}}


<h2 id="Constants">Constants</h2>
{{if not .Constants}} <p>This section is empty. {{end}}
{{ range .Constants }}
{{range .Names}}
<a id="{{.}}"></a>
{{end}}
<pre>{{.Code}}</pre>
{{.CommentHtml}}
{{end}}

<h2 id="Variables">Variables</h2>
{{if not .Variables}} <p>This section is empty. {{end}}
{{ range .Variables }}
{{range .Names}}
<a id="{{.}}"></a>
{{end}}
<pre>{{.Code}}</pre>
{{.CommentHtml}}
{{end}}

<h2 id="Functions">Functions</h2>
{{if not .Functions}} <p>This section is empty. {{end}}
{{ range .Functions }}
<h3 id="{{.Name}}" class="func-name"><pre>{{.Code}}</pre></h3>
{{.CommentHtml}}
{{end}}

<h2 id="Types">Types</h2>
{{if not .Types}} <p>This section is empty. {{end}}
{{ range .Types }}
{{ $typename := .Name }}
<h3 id="{{ .Name}}" class="type-name">type <i>{{ .Name }}</i></h3>
<pre>{{.Code}}</pre>
{{.CommentHtml}}

{{if .Constants}}<h3 id = "{{ .Name}}.Constants">Constants</h3>{{end}}
{{ range .Constants }}
{{range .Names}}
<a id="{{$typename}}.{{.}}"></a>
{{end}}
<pre>{{.Code}}</pre>
{{.CommentHtml}}
{{end}}

{{if .Variables}}<h3 id = "{{ .Name}}.Variables">Variables</h3>{{end}}
{{ range .Variables }}
{{range .Names}}
<a id="{{$typename}}.{{.}}"></a>
{{end}}
<pre>{{.Code}}</pre>
{{.CommentHtml}}
{{end}}

{{if .Functions}}<h3 id = "{{ .Name}}.Functions">Functions</h3>{{end}}
{{ range .Functions }}
<h4 id="{{$typename}}.{{.Name}}" class="func-name"><pre>{{.Code}}</pre></h4>
{{.CommentHtml}}
{{end}}

{{if .Methods}}<h3 id = "{{ .Name}}.Methods">Methods</h3>{{end}}
{{ range .Methods }}
<h4 id="{{$typename}}.{{.Name}}" class="method-name"><pre>{{.Code}}</pre></h4>

{{.CommentHtml}}
{{end}}

{{end}}

<div>