{{/* This is the per-package default template. The input is the mod.Package structure */}}
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="styles.css">
</head>
<body>

{{/* Build the breadcrumb in the navbar */}}
<nav id="topnav">
{{range .PathParts}}{{if .DocFile }}<a href="{{.DocFile}}">{{.DirName}}</a>{{else}}{{.DirName}}{{end}}/{{end}}
<div class="import_path"> import {{.ImportPath}}</div>
</nav>
<section id="package">
<h1>Package {{.Name}}</h1>
{{ $p := . }}
<div class="comment">
{{ .CommentHtml }}
</section>

<section id="index">
<h2>Index</h2>
{{if .Constants }}<p><a href="#Constants">Constants</a></p>{{end}}
{{if .Variables}}<p><a href="#Variables">Variables</a></p>{{end}}
{{if .Functions}}<p><a href="#Functions">Functions</a></p>{{end}}
{{if .Types}}<p><a href="#Types">Types</a></p>
<ul>
{{ range .Types}}
<li><a href="#{{.Name}}">{{.Name}}</a></li>
{{end}}
</ul>
{{end}}
</section>

<section id="content">
{{if .Constants}}
<h2 id="Constants">Constants</h2>
{{ range .Constants }}
{{range .Names}}
<a id="{{.}}"></a>
{{end}}
<pre class="code">{{.Code}}</pre>
<div class="comment">
{{.CommentHtml}}
</div>
{{end}}
{{end}}

{{if .Variables}}
<h2 id="Variables">Variables</h2>
{{ range .Variables }}
{{range .Names}}
<a id="{{.}}"></a>
{{end}}
<pre class="code">{{.Code}}</pre>
<div class="comment">
{{.CommentHtml}}
</div>
{{end}}
{{end}}

{{if .Functions}}
<h2 id="Functions">Functions</h2>
{{ range .Functions }}
<h3 id="{{.Name}}" class="func-name">func {{.Name}}</h3>
<pre class="code">{{.Code}}</pre>
<div class="comment">
{{.CommentHtml}}
</div>
{{end}}
{{end}}

{{if .Types}}
<h2 id="Types">Types</h2>
{{ range .Types }}
{{ $typename := .Name }}
<h3 id="{{ .Name}}" class="type-name">{{.Type }} {{ .Name }}</h3>
<pre class="code">{{.Code}}</pre>
<div class="comment">
{{.CommentHtml}}
</div>

{{if .Constants}}<h4 id = "{{ .Name}}.Constants">Constants</h4>{{end}}
{{ range .Constants }}
{{range .Names}}
<a id="{{$typename}}.{{.}}"></a>
{{end}}
<pre class="code">{{.Code}}</pre>
<div class="comment">
{{.CommentHtml}}
</div>
{{end}}

{{if .Variables}}<h4 id = "{{ .Name}}.Variables">Variables</h4>{{end}}
{{ range .Variables }}
{{range .Names}}
<a id="{{$typename}}.{{.}}"></a>
{{end}}
<pre class="code">{{.Code}}</pre>
<div class="comment">
{{.CommentHtml}}
</div>
{{end}}

{{if .Functions}}<h4 id = "{{ .Name}}.Functions">Functions</h4>{{end}}
{{ range .Functions }}
<h4 id="{{$typename}}.{{.Name}}" class="func-name">func {{.Name}}</h4>
<pre class="code">{{.Code}}</pre>
<div class="comment">
{{.CommentHtml}}
</div>
{{end}}

{{if .Methods}}<h4 id = "{{ .Name}}.Methods">Methods</h4>{{end}}
{{ range .Methods }}
<h5 id="{{$typename}}.{{.Name}}" class="func-name">{{.Name}}</h5>
<pre class="code">{{.Code}}</pre>
<div class="comment">
{{.CommentHtml}}
</div>
{{end}}{{end}}{{end}}

</div>
</section>
</body>
</html>